@theme {
  --color-green-light: #D6FDE5;
  --color-green-normal: #82C397;
  --color-green-semidark: #3E7358;
  --color-green-dark: #284F43;
  --color-green-darkest: #183129;

  --color-gray-light: #E5E5E5;
  --color-gray-normal: #C5C8C7;
  --color-gray-semidark:  #555555;
  --color-gray-dark:  #383B42;
  --color-gray-darkest:  #1C1E27;

  --color-white:  #EEEEEE;
  --color-tomato: #A43F3D;
}